<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My project</title>
  <link href="styles/main.css" rel="stylesheet" />
  <link href="styles/body.css" rel="stylesheet" />
  <link href="styles/external.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="main-nav">
      <div class="logo">
        <h1><a href="/">WeatherX</a></h1>
      </div>
      <div class="nav-links">
        <a href="/today">HOME</a>
        <a href="/find">FIND CITY</a>
      </div>
    </nav>
    <div>
      <nav class="sub-nav sticky">
        <a href="/today">Today</a>
        <a href="/hourly">Hourly</a>
        <a href="/monthly">Daily</a>
      </nav>
    </div>
  </header>